<footer class="site-footer">
    <div class="footer-inner">
        <div class="footer-info">
            <p>&copy; {{ site.time | date: '%Y' }} Moon Seok Khang</p>
            <p>Electrical & Computer Engineering, SNU</p>
        </div>
        
        <div class="footer-links">
            <a href="mailto:mskhang@snu.ac.kr">Email</a>
            <a href="https://github.com/initdevelop" target="_blank">GitHub</a>
            <a href="https://linkedin.com/in/mskhang" target="_blank">LinkedIn</a>
        </div>
    </div>
</footer>