<!DOCTYPE html>
<html lang="en">
<head>
    {% if page.mathjax %}
        {% include mathjax.html %}
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Moon Seok Khang</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css" rel="stylesheet">
</head>
<body>

    <header class="site-header">
        <div class="header-inner">
            <div class="logo">Moon Seok Khang</div>
            <nav>
                <a href="{{ '/' | relative_url }}">Home</a>
                <a href="{{ '/projects' | relative_url }}">Projects</a>
                <a href="{{ '/life' | relative_url }}">Life</a>
            </nav>
        </div>
    </header>

    <main class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {% include footer.html %}
</body>
</html>